= simple_form_for request_object, :html => { :class => "form-horizontal" } do |f|
  -if request_object.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(request_object.errors.count, "error")} prohibited this request from being saved:"

      %ul
        - request_object.errors.full_messages.each do |msg|
          %li= msg


  = f.input :owner_id, :class => 'col-sm-2 control-label'
  = f.input :name, :class => 'col-sm-2 control-label'
  = f.input :description, :class => 'col-sm-2 control-label'
  = f.button :submit, :class => 'btn btn-primary'
