.page-header
  = link_to requests_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_request_path(request_object), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show request

%dl.dl-horizontal
  %dt Owner:
  %dd= request_object.owner_id
  %dt Name:
  %dd= request_object.name
  %dt Description:
  %dd= request_object.description


